<div class="text-bg-info p-3">

  <div class="card bg-dark text-white">
    <img src="assets/Banner.jpeg" class="card-img" alt="..." style="object-fit: cover; width: rem; height: 25rem;" />
    <div class="card-img-overlay">
      <img src="assets/Varun.jpeg" class="img-thumbnail" style="width: 18rem; height: 22rem; object-fit: cover; border-radius: 50%;" alt="...">
    </div>

  </div>
</div>
<div class="p-3 bg-info bg-opacity-10 border border-primary border-start-0 rounded-end">
  <h3 class="card-title">Varun Manwani</h3>
  <h4 class="card-text">
    Hi I am an 19 Years Old Student of B.COM trying to Learn Coding
  </h4>
</div>



