<div class="text-bg-info p-3">
  <app-banner></app-banner>
  <app-navbar></app-navbar>
  <div class="card bg-dark text-white">
    <img src="assets/Banner.jpeg" class="card-img" alt="..." style="object-fit: cover; width: rem; height: 30rem;" />
    <div class="card-img-overlay">
      <img src="assets/Varun.jpeg" class="img-thumbnail" style="width: 19rem; height: 22rem; object-fit: cover;" alt="...">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>
</div>

