<app-banner></app-banner>
<app-navbar></app-navbar>

<div class="card bg-info text-black" style="width: 18rem; padding: 5px; margin: 10px;">
  <div class="card-body">
    <h5 class="card-title">My Schools and Colleges</h5>
  </div>
</div>

<ul class="list-group list-group-horizontal">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="card" style="width: 18rem">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/School/School1.jpeg"
              class="d-block w-200"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/School/School2.jpeg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/School/School3.jpeg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Seth Parasram Parumal New English High School & Jr College
        </h5>
        <p class="card-text">
          Furniture Bazar, Near Shivaji Chowke; Camp, 3, Ulhasnagar, Maharashtra
          421003
        </p>
        <a
          href="http://www.sssecondary.edu.in/"
          target="_blank"
          class="btn btn-primary"
          >School Site</a
        >
      </div>
    </div>
    <!-- <span class="badge bg-info rounded-pill">14</span> -->
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="card" style="width: 18rem">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/Chm/Chm1.jpeg"
              class="d-block w-200"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/Chm/Chm2.jpeg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/Chm/Chm3.jpeg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Smt. Chandibai Himathmal Mansukhani College
        </h5>
        <p class="card-text">
          65C7+46G, Railway Station Rd, opp. Ulhasnagarmy Railway Station, Yashwant Colony, Ulhasnagar, Maharashtra 421003
        </p>
        <a
          href="https://www.chmcollege.in/"
          target="_blank"
          class="btn btn-primary"
          >College Site</a
        >
      </div>
    </div>
    <!-- <span class="badge bg-info rounded-pill">14</span> -->
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <!-- <span class="badge bg-info rounded-pill">14</span> -->
  </li>
</ul>
