<app-banner></app-banner>
<app-navbar></app-navbar>

<ul class="list-group list-group-item">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="fw-bold">
      <div class="fw-bold">NAME</div>
      <h3>
      Varun Jeetu Manwani
    </h3>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="fw-bold">
      <div class="fw-bold">AGE</div>
      <h3>
      19 Years Old
    </h3>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="fw-bold">
      <div class="fw-bold">GENDER</div>
      <h3>
      Male
    </h3>
    </div>

  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="fw-bold">
      <div class="fw-bold">MARTIAL STATUS</div>
      <h3>
      Single
    </h3>
    </div>

  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="fw-bold">
      <div class="fw-bold">BLOOD GROUP</div>
      <h3>
      O Positive
    </h3>
    </div>

  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="fw-bold">
      <div class="fw-bold">MOBILE NO.</div>
      <h3>
      9834689909
    </h3>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="fw-bold">
      <div class="fw-bold">EMAIL-ID</div>
      <h3>
      <a href="#">manwanivarun961@gmail.com</a>
    </h3>
    </div>
  </li>

</ul>
