<app-banner></app-banner>
<app-navbar></app-navbar>

<!-- <div class="card" #box>
  <img src="assets/Personal.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">PERSONAL DETAILS</h3>
    <p class="card-text">Hello I am Varun Manwani 19 years old Trying to Learn Coding</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name : Varun Jeetu Manwani</li>
    <li class="list-group-item">Age : 19 Years</li>
    <li class="list-group-item">D.O.B : 25-10-2002</li>
    <li class="list-group-item">Martial Status : Single</li>
    <li class="list-group-item">Blood Group : O Positive</li>
    <li class="list-group-item">Email Id : manwanivarun961@gmail.com</li>
    <li class="list-group-item">Mobile No. : +91-9834689909</li>
    <li class="list-group-item"></li>
  </ul>
</div> -->
